<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>webProfile-8.0</feature>
        <!-- <feature>microProfile-4.1</feature> -->
    </featureManager>

    <!-- <basicRegistry id="basic" realm="BasicRealm">
    </basicRegistry> -->

    <httpEndpoint id="defaultHttpEndpoint"
        httpPort="9080"
        httpsPort="-1"
        host="*" />

    <applicationManager autoExpand="true" />

    <!-- <webApplication contextRoot="/shiro-example"
        location="/home/hiro/shiro-example/target/shiro-example.war" /> -->

    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />
</server>